<%- include ('header.ejs') %>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2><b style="color: red;">Giỏ hàng</b></h2>
                <table class="table border-light">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Ảnh sản phẩm</th>
                            <th>Số Lượng</th>
                            <th>Thanh toán</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>Không có sản phẩm nào!!</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include ('footer.ejs') %>